*.iml
.gradle
*.pdf
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
# 构建输出
app/build/
app/release/
release/          # 兼容写法，会匹配任何 release（包括 app/release）

/captures
.externalNativeBuild
.cxx
local.properties
